*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-image: url(images/h.jpg);
   background-size: cover;
}

.movie-container{
   width: 80%;
   height: auto;
   border: 5px solid rgba(255, 255, 255, 0.4);
   position: relative;
   overflow: hidden;
   background: transparent;
   backdrop-filter: blur(50px);
   box-shadow: 0 50px 55px -10px #000;
}
img{
   float: right;
}
.title{
   position: absolute;
   color: #fff;
   padding: 50px 80px;
   font-size: 60px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-transform: uppercase;
   letter-spacing: 10px;
}
h3{
   position: absolute;
   font-size: 20px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   text-transform: uppercase;
   letter-spacing: 56px;
   color:#fff;
   top: 180px;
   left: 100px;
}
.dis{
   position: absolute;
   color: #fff;
   top: 220px;
   padding: 80px 80px;
   font-size: 18px;
}
button{
   position: absolute;
   top: 70%;
   left: 5%;
   padding: 20px 70px;
   font-size: 30px;
   border-radius: 0px;
   border: 2px solid #fff;
   background: none;
   background-size: 100% 100%;
   color: #f1f1f1;
   text-transform: uppercase;
   letter-spacing: 5px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
button:hover{
   color: #000;
   background:#fff;
}
